# Ignore environment variables and secrets
.env
.env.bak

# Ignore temporary files
tmp/

# Ignore logs
logs/
*.log

# Ignore node modules
node_modules/
node_modules.old/
**/node_modules.old/

# Ignore python cache
__pycache__/
*.pyc

# Ignore Python virtual environments
venv/
**/venv/
.venv/
**/.venv/

# Ignore Microsoft Word temporary files
~$*.docx
~$*.doc
